/* Resume Section */
.split-columns {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 20px;
    align-items: center;
}

.resume-content-left,
.resume-content-right {
    width: 100%;
    margin: 20px 0;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.resume-content-left-top h2,
.resume-content-left-top h3 {
    margin-top: 10px;
    padding-left: 17px;
}

.three-columns {
    display: flex;
    justify-content: space-between;
}

.skills-content {
    flex: 1;
    margin-right: 10px;
    margin-left: 10px;
}

.skills-content:last-child {
    margin-right: 10px;
}

.skills-content p {
    margin-bottom: 2px;
    font-weight: bold;
    text-decoration: underline;
}

.skills-content ul {
    list-style-type: none;
    padding-left: 20px;
}

.skills-content ul li {
    margin-bottom: 5px;
}

.certificates-content ul {
    list-style-type: disc;
    padding-left: 20px;
}

.certificates-content ul li {
    margin-bottom: 5px;
}

.education-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.institution {
    flex-grow: 1;
}

.date {
    white-space: nowrap;
}

.resume-content-right p {
    padding-top: 5px;
}

.work-section {
    margin-top: 20px;
}

.work-section ul {
    margin-top: 10px;
    padding-left: 20px;
}

.work-section ul li {
    margin-bottom: 10px;
}

.videos-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
}

.profile-video {
    width: 45%;
    margin-top: 20px;
}

.profile-video iframe {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Responsive adjustments */
@media (min-width: 1000px) {
    .split-columns {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .resume-content-left,
    .resume-content-right {
        width: 48%;
        margin: 20px 1%;
    }

    .videos-section {
        flex-direction: row;
    }

    .profile-video {
        width: 48%;
    }
}

@media (max-width: 999px) {
    .split-columns {
        flex-direction: column;
        align-items: center;
    }

    .resume-content-left,
    .resume-content-right {
        width: 90%;
    }

    .videos-section {
        flex-direction: column;
        align-items: center;
    }

    .profile-video {
        width: 90%;
    }
}
