/* Resume Section */
.split-columns {
    display: flex;
    margin-top: 40px;
    margin-bottom: 20px;
    align-items: stretch;
}

.resume-content-left {
    width: 30%;
    height: fit-content;
    margin: 0 30px;
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
}

.resume-content-left p{ 
    /* border: 1px solid red; */
    padding-left: 20px;
    padding-top:1px;
    padding-bottom: 1px;
}

.resume-content-left-top{
    /* width: 350px; */
    /* border: 1px solid red; */
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding-bottom: 10px;
}

.resume-content-left h2,
.resume-content-left h3 {
    margin-top: 10px;
    padding-left: 17px;
}

.three-columns {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */

}

.skills-content {
    flex: 1;
    margin-right: 10px;
    margin-left: 10px;
    /* border: 1px solid red; */
}

.skills-content:last-child {
    margin-right: 10px;
}

.skills-content p {
    margin-bottom: 2px;
    font-weight: bold;
    /* text-align: center; */
    text-decoration: underline;
}

.skills-content ul {
    list-style-type: none;
    padding-left: 20px;
}

.skills-content ul li {
    margin-bottom: 5px;
}

.certificates-content ul {
    list-style-type: disc;
    padding-left: 20px;
}

.certificates-content ul li {
    margin-bottom: 5px;
}

.resume-content-right {
    /* width: 50; */
    margin-right: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.education-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.institution {
    flex-grow: 1;
}

.date {
    white-space: nowrap;
}

.resume-content-right p {
    padding-top: 5px;
}

.work-section {
    margin-top: 20px;
}

.work-section ul {
    margin-top: 10px;
    padding-left: 20px;
}

.work-section ul li {
    margin-bottom: 10px;
}

.profile-video {
    margin-top: 20px;
    text-align: center;
}

.profile-video iframe {
    width: 100%;
    height: 300px;
    max-width: 560px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
